<div class="options-container" [ngClass]="{ disabled: disabled }">
  <div
    #option
    class="option"
    *ngFor="let option of options"
    (click)="selectOption(option.id, option.productId, option.title)"
  >
    <p class="title">
      {{ option.title }}
    </p>
  </div>

  <div
    *ngIf="isViewInit"
    class="placeholder"
    [ngClass]="disabled ? 'disabled' : ''"
    [@selectedOptionMove]="{
      value: getIndex(selectedOption),

      params: { moveTo: getTranslateXForOption(selectedOption) }
    }"
  >
    <p class="title">
      {{ selectedOptionTitle }}
    </p>
  </div>
</div>
