.change-background-btn {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  width: 95px;
  height: 45px;
  font: 1.2em "Times New Roman", sans-serif;
  color: white;
  border: solid 2px white;
  border-radius: 8px;
  background-color: transparent;
}

.change-background-btn:hover {
  color: #323232;
  border: solid 2px #DDD0C8;
  background-color: #DDD0C8;
}

.change-background-btn:active {
  transform: scaleX(99%) scaleY(99%);
}
