@use 'sass:map';
@use '@angular/material' as mat;
@import '../styles/colors.scss';
@import '../styles/effects.scss';

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  width: 100%;
  height: 50px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  box-shadow: $shadow;

  .nav-content {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
}

#unity-canvas {
  width: 960px;
  height: 600px;
  background: #231f20;
}

.container {
  margin-top: 1rem;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas: '. .';

  .spinner-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.button-group {
  display: flex;
  align-items: center;
}

.btn {
  margin: 0 20px;
  margin-left: 0;
}

.circle-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px;
  margin-left: 0;
}

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, primary);
  $accent-palette: map.get($color-config, accent);
  $is-dark-theme: map.get($color-config, is-dark);

  .circle-btn.active {
    box-shadow: 0 0 0 2px map-get($primary-palette, 500);
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}

.product-title {
  font-size: 25px;
}

.price {
  font-size: 25px;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.group {
  margin: 10px 0;

  &-title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    margin: 40px;
  }
  #unity-canvas {
    width: 700px;
    height: 500px;
  }
}

@media screen and (max-width: 950px) {
  #unity-canvas {
    width: 600px;
    height: 400px;
  }
}
