@use 'sass:map';
@use '@angular/material' as mat;
@import '../styles/colors.scss';
@import '../styles/effects.scss';

:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#unity-canvas {
  width: 600px;
  height: 600px;
  background: #231f20;
}

.nav {
  width: 100%;
  height: 50px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  box-shadow: $shadow;

  .nav-content {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 1200px;
  }
}

.container {
  margin-top: 1rem;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas: '. .';
}

.spinner-container {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title {
  margin: 0;
  font: 2em "Times New Roman", sans-serif;
}

.product-title {
  align-self: start;
  margin: 20px 0 0 0;
  font: 2em "Times New Roman", sans-serif;
}

.price {
  font: 1.75em "Times New Roman", sans-serif;
}

.right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.product-desc {
  margin-top: 15px;
}

.variant-foldout {
  margin-bottom: 20px;
}

.variant-btn {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 20%;
  margin: 0 5px;
}

.variant-btn img {
  width: auto;
  height: 100%;
}

.variants-title {
  height: 35px;
  width: 110px;
  align-self: center;
  margin: 8px 20px 0 0;
  font: 1.5em "Times New Roman", sans-serif;
}

.variants-container {
  display: flex;
  flex-direction: row;
}

.materials-title {
  height: 35px;
  width: 110px;
  margin: 8px 20px 0 0;
  font: 1.3em "Times New Roman", sans-serif;
}

.materials-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1080px) {
  .container {
    margin: 40px;
  }
  #unity-canvas {
    width: 700px;
    height: 500px;
  }
}

@media screen and (max-width: 950px) {
  #unity-canvas {
    width: 600px;
    height: 400px;
  }
}
