<nav class="nav" xmlns="http://www.w3.org/1999/html">
  <div class="nav-content">
    <p class="page-title">Configuration and Visualization System</p>
    <div class="right-side">
      <div class="select">
        <app-select
          [products]="unityService.products"
          [selectedProduct]="unityService.currentActiveProduct ? unityService.currentActiveProduct.id : ''"
          (productChanged)="productChanged($event)"
        ></app-select>
      </div>
      <button mat-raised-button color="primary" (click)="toggleBackground()">
        {{ isSolidBackground ? 'Room View' : 'Solid Color' }}
      </button>
    </div>
  </div>
</nav>

<div *ngIf="!isInitialized" class="spinner-container">
  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div *ngIf="unityService.productModels?.length">
  <p class="product-title">{{ unityService.currentActiveProduct.title }}</p>
</div>
<div class="container">
  <div>
    <canvas id="unity-canvas"></canvas>
    <div class="product-desc" *ngIf="isInitialized">
      <p class="price">Price: ${{ unityService.getCurrentProductInvoice().price }}</p>
    </div>
  </div>
  <div *ngIf="isInitialized" class="product-info">
    <div *ngIf="unityService.productVariantSets?.length">
      <mat-expansion-panel class="variant-foldout">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="variants-title">Variant sets:</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="variants-container">
          <ng-container *ngFor="let variantSet of unityService.productVariantSets">
            <div class="variant-btn">
              <img src="data:image/png;base64,{{variantSet.thumbnail}}" title="{{ variantSet.title }}"
                   (click)="activateVariantSet(variantSet.productId, variantSet.id)" alt="variantSet"/>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>
    <div *ngIf="unityService.productModels?.length">
      <mat-expansion-panel class="variant-foldout">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="variants-title">Variants:</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="variants-container">
          <ng-container *ngFor="let variant of unityService.productModels">
            <div class="variant-btn">
              <img src="data:image/png;base64,{{variant.thumbnail}}" title="{{ variant.title }}"
                   (click)="activateModel(variant.productId, variant.id)" alt="variant"/>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>
    <div *ngIf="unityService.productModels?.length">
      <mat-expansion-panel class="variant-foldout">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="variants-title">Materials:</p>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="materials-container">
          <ng-container *ngFor="let group of groupedMaterials">
            <p class="materials-title">{{group.name.substring(0, group.name.indexOf(' Material'))}}:</p>
            <div class="variants-container">
              <ng-container *ngFor="let material of group.materials">
                <div class="variant-btn">
                  <img src="data:image/png;base64,{{material.thumbnail}}" title="{{ material.title }}"
                       (click)="activateMaterial(material.productId, material.id)" alt="variant"/>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>
